$custom_form_floating_form_select_height: 2.5rem !default;
$custom_form_floating_form_select_min_height: 2.5rem !default;
$custom_form_floating_form_select_padding_top: 1rem !default;
$custom_form_floating_form_select_padding_bottom: 0.5rem !default;
$custom_form_floating_form_select_font_size: 0.75rem !default;
$custom_form_floating_label_padding: 0.5rem 1rem !default;
$custom_form_floating_label_scale: 0.65 !default;
