@import "../../css/_variables";
@import "../../css/Common.module.scss";

@include customFormFloatingSelect();
@include customFormFloatingLabel();

.bulk-delete-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; // Ensure it's above the book content
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}

.bulk-delete-overlay:hover {
  background-color: rgba(212, 21, 21, 0.1);
}

.bulk-delete-overlay.bulk-delete-selected,
.bulk-delete-overlay:hover.bulk-delete-selected {
  background-color: rgba(212, 21, 21, 0.3);
}
