@import "../../css/_variables";
@import "../../css/Common.module.scss";

@include customFormFloating(inline-block);
@include customFormFloatingSelect(2rem, 2rem, 0.5rem, 0);
@include customFormFloatingLabel(0.5rem 0.5rem 0.5rem 1.1rem, 0.6);

.rating {
  float: left;
  border: none;
  width: auto !important;
  padding-left: 0 !important;
}
.rating-preview label {
  font-size: 1em !important;
}
.rating:not(:checked) > input {
  display: none;
}
.rating:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 0.1em 0 0;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  line-height: 1.2;
  color: #ddd;
}
.rating:not(:checked) > label:before {
  content: "★ ";
}
.rating > input:checked ~ label {
  color: #f70;
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
}
.rating > label:active {
  position: relative;
}
[contenteditable="true"]:empty:before {
  content: attr(data-placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
}
:global(div.react-datepicker__input-container button) {
  max-width: 14rem !important;
  font-size: 0.8rem !important;
  margin-bottom: 0.5rem !important;
  padding: 0.3rem 0.75rem !important;
}
:global(div.react-datepicker__tab-loop) {
  display: inline-block !important;
}
:global(.react-datepicker__day-name),
:global(.react-datepicker__day),
:global(.react-datepicker__time-name) {
  width: 1.2rem !important;
  line-height: 1.2rem !important;
}
@media only screen and (min-width: 600px) {
  .book-component-controls {
    text-align: left;
  }
}
@media only screen and (min-width: 992px) {
  .book-component-controls {
    text-align: right;
  }
}
:global(div#book-review-content-editable) {
  min-height: 200px;
  font-style: italic;
}
:global(div[contenteditable="true"]) {
  border: none;
  outline: none;
  text-wrap: wrap;
  white-space: pre-wrap;
}
