@import "../../css/_variables";
@import "../../css/Common.module.scss";

@include customFormFloating(inline-block);
@include customFormFloatingSelect(2rem, 2rem, 0.5rem, 0);
@include customFormFloatingLabel(0.5rem 0.5rem 0.5rem 1.1rem, 0.6);

@media only screen and (min-width: 600px) {
  .bookshelf-component-controls {
    text-align: left;
  }
}
@media only screen and (min-width: 992px) {
  .bookshelf-component-controls {
    text-align: right;
  }
}
.bookshelf-sort-button {
  padding: 0.15rem 0.4rem !important;
}
