.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.bookshelf-book-image-wrapper {
  position: relative;
}

div.bookshelf-book-image-wrapper:hover div.remove-book-from-bookshelf-button,
div.bookshelf-book-image-wrapper:focus div.remove-book-from-bookshelf-button {
  display: inline-flex;
}

div.remove-book-from-bookshelf-button {
  position: absolute;
  top: 5px;
  right: 15px;
  display: none;
  align-items: center;
  justify-content: center;
}

.add-books-to-bookshelf-modal {
  height: 500px;
  max-height: 500px;
  overflow: scroll;
}

#responsive-navbar-nav .dropdown-menu[data-bs-popper] {
  right: 0 !important;
  left: unset;
}

#responsive-navbar-nav a {
  text-align: right !important;
}
