.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.bookshelf-book-image-wrapper {
  position: relative;
}

div.bookshelf-book-image-wrapper:hover div.remove-book-from-bookshelf-button {
  display: inline-flex;
}

div.remove-book-from-bookshelf-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: white;
  border: 1px solid #dc3545;
  padding: 0;
  margin: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

div.remove-book-from-bookshelf-button .btn-close {
  width: .25em;
  height: .25em;
}

.add-books-to-bookshelf-modal {
  width: 700px;
  max-width: 700px;
  height: 500px;
  max-height: 500px;
}